<div class="container-interface">
    <h1>Apariencia</h1>
    <section class="section ">
        <label class="section-title">Tema</label>
        <mat-radio-group class="group">
            <mat-radio-button class="example-margin" value="primary"  >
                Claro
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="accent">
                Oscuro
            </mat-radio-button>
        </mat-radio-group>
    </section>
    <section class="section ">
        <label class="section-title">Idioma</label>
        <mat-radio-group  class="group">
            <mat-radio-button class="example-margin" value="primary" >
                Español
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="accent">
                Inglés
            </mat-radio-button>
        </mat-radio-group>
    </section>
    <div class="button-save">
        <button mat-raised-button color="primary">Guardar</button>
    </div>
</div>