
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel aria-label="Detalle de la publicación">Detalle de la publicación</ng-template>
        <form [formGroup]="firstFormGroup">
            <mat-form-field class="example-full-width">
                <mat-label for="title" aria-label="Título">Título</mat-label>
                <input type="text" matInput placeholder="Paseador de Perros" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <mat-label aria-label="Área">Área</mat-label>
                <mat-select formControlName="area">
                    <mat-option aria-label="Otros"value="otros">Otros</mat-option>
                    <mat-option aria-label="Salud"value="salud">Salud</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label aria-label="Descripción">Descripción</mat-label>
                <textarea aria-label="Ingresa la descripción del trabajo" matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label aria-label="Monto">Monto</mat-label>
                <input aria-label="Ingresa el monto a pagar" matInput type="number" class="example-right-align" placeholder="0" formControlName="amount">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.00</span>
            </mat-form-field>
            <mat-form-field>
                <mat-label aria-label="Seleccionar archivo">Seleccionar archivo</mat-label>
                <input aria-label="Ingresa un archivo" matInput readonly type="text" id="fakeFileInput" (click)="hiddenInput.click()">
                <input hidden type="file" accept=".png" #hiddenInput (change)="GetFileOnLoad($event)">
                <mat-icon matSuffix>folder_open</mat-icon>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" class="button" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Ubicación del Trabajo">
        <form [formGroup]="secondFormGroup">
            <mat-form-field>
                <mat-label for="address" aria-label="Dirección">Dirección</mat-label>
                <input aria-label="Ingresa tu dirección" matInput formControlName="address" placeholder="Av Brasil 123">
            </mat-form-field>
            <mat-form-field>
                <mat-label aria-label="Departamento">Departamento</mat-label>
                <mat-select formControlName="department">
                    <mat-option aria-label="Lima" value="lima">Lima</mat-option>
                    <mat-option aria-label="Cusco" value="cusco">Cusco</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label aria-label="Distrito">Distrito</mat-label>
                <mat-select formControlName="district">
                    <mat-option aria-label="Rímac"  value="rimac">Rímac</mat-option>
                    <mat-option aria-label="Miraflores" value="miraflores">Miraflores</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="references" aria-label="Referencias">Referencias</mat-label>
                <input matInput formControlName="references" placeholder="Altura de Plaza Vea Alcazar" aria-label="Ingresa la referencia">
            </mat-form-field>

            <mat-form-field>
                <mat-label aria-label="Espacio">Espacio</mat-label>
                <mat-select formControlName="space">
                    <mat-option aria-label="Casa" value="casa">Casa</mat-option>
                    <mat-option aria-label="Departamento" value="departamento">Departamento</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button-container">
                <button aria-label="Boton para regresar" mat-raised-button color="primary" class="button" matStepperPrevious>Atrás</button>
                <button aria-label="Boton para avanzar" mat-raised-button color="primary" class="button" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel aria-label="Configuración de la Publicación">Configuración de la Publicación</ng-template>
        <div class="publication ">
            <div class="premium center" [formGroup]="premiumGroup">
                <mat-label for="isPremium" aria-label="Destacar Premium">Destacar Premium</mat-label>
                <mat-slide-toggle formControlName="isPremium"></mat-slide-toggle>
            </div>
            <div class="settings center" [formGroup]="settingGroup">
                <mat-label for="isTownChambeador" aria-label="Aceptar solo chambeadores de mi ciudad">Aceptar solo chambeadores de mi ciudad</mat-label>
                <mat-slide-toggle formControlName="isTownChambeador"></mat-slide-toggle>
            </div>
            <div class="notifications center" [formGroup]="notificationGroup">
                <mat-label for="isMessages" aria-label="Notificarme sobre nuevos mensajes">Notificarme sobre nuevos mensajes</mat-label>
                <mat-slide-toggle formControlName="isMessages"></mat-slide-toggle>
            </div>
            <div>
                <button aria-label="Finaliza la publicación" mat-raised-button color="primary" class="button" (click)="enviarDatos()">Publicar</button>
            </div>
        </div>
    </mat-step>
</mat-stepper>