form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-stepper{
    margin-top: 1rem;
}

.ubication-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}