<div class="post">
    <div class="header-form">
        <h3 class="header">Registro de Publicación</h3>
    </div>
    <form [formGroup]="formData" class="form">
        <mat-form-field appearance="outline" class="mat-form">
            <mat-label aria-label="Título">Título</mat-label>
            <input matInput  formControlName="title" name="title"  >
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form">
            <mat-label aria-label="Subtítulo">Subtítulo</mat-label>
            <input matInput  formControlName="subtitle" name="subtitle" >
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form">
            <mat-label aria-label="Descripción">Descripción</mat-label>
            <textarea matInput formControlName="description" name="description" ></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form">
            <mat-label aria-label="URL de la imagen">URL de la imagen</mat-label>
            <input matInput  formControlName="img_url" name="img_url" >
        </mat-form-field>     
        <div class="btn-publicar">
            <button  mat-raised-button [disabled]="formData.invalid" type="submit" color="primary" aria-label="Botón para proceder al registro completo">Publicar</button>
        </div>
    </form>
</div>
