

.post{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .header-form{
        margin: 2.6rem;
    }
    .form{
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        width: 30%;

        .btn-publicar{
            margin-top: 1rem;
            margin-bottom: 1rem;
            justify-content: center;
            display: flex;
        }
    }
}

//media query
@media screen and (max-width: 768px) {
    .post{
        .form{
            width: 70%;
        }
    }
}
