.register{
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h2 {
        font-size: 2rem;
        font-weight: 500;
        color: #f1a636;
    }

    .form-register{
        padding: 1.2em;
        display: flex;
        flex-direction: column;

        box-shadow: 0px 0px 3px 0px rgba(241, 166, 54, 0.35);
        .fullname{
            display: flex;
            flex-direction: column;
        }
    }
    .content-document {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .full-line {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .gender {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    button {
        color : #fff;
    }

    .preview-container{
        border: 2px solid #f1a636;
        width: 200px;
    }
    .preview-image{
        max-width: 200px;
    }

    .description{
        min-height: 200px;
        max-height: 200px;
        min-width: 300px;
    }
}