<nav class="navbar navbar-expand-lg bg">
    <div class="container">
        <a class="navbar-brand color">
            <img src="../../../assets/Logo.png" alt="ChambeaPe Logo" (click)="login()">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" aria-label="Ve a la sección de Empleos"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div *ngIf="isLoggedIn=='logged'" class="navbar-nav ms-auto">
                <a class="nav-link color" routerLink="" routerLinkActive="active" (click)="home()">
                    Inicio
                </a>
                <a *ngIf="userRol=='E'" class="nav-link color" routerLink="" routerLinkActive="active" (click)="mypost()">
                    Mis Anuncios
                </a>
                <a *ngIf="userRol=='W'" class="nav-link color" routerLink="" routerLinkActive="active" (click)="redirectToJobs()">
                    Empleos
                </a>

                <!-- <a class="nav-link color" routerLink="" routerLinkActive="active" (click)="redirectToMyChats()">
                    Chats
                </a> -->
                
                <!--
                <a class="nav-link color" routerLink="" routerLinkActive="active" aria-label="Ve a la sección de Chambeadores" (click)="home()">
                    Chambeadores
                </a>
                <a class="nav-link color" routerLink="" routerLinkActive="active" aria-label="Ve a la sección de Notificaciones" (click)="home()">
                    Notificaciones
                </a>
                -->

                <a class="nav-link color" routerLink="" routerLinkActive="active" aria-label="Ve a la sección de Perfil" (click)="viewProfile()">
                    Perfil
                </a>
                <a id="logOut" class="nav-link color" routerLink="" routerLinkActive="active" (click)="logOut()">
                    Cerrar Sesión
                </a> 
            </div>
            <div *ngIf="isLoggedIn=='unlogged'" class="navbar-nav ms-auto">
                <a class="nav-link color" routerLink="" routerLinkActive="active" (click)="login()">
                    Iniciar Sesión
                </a>
                <a class="nav-link color" routerLink="" routerLinkActive="active" (click)="redirectToRegister()">
                    Registrarse
                </a>
            </div>
        </div>
    </div>
</nav>