.bg {
    background-color: #f1a636;
}

img {
    width: 3rem;
    height: auto;
}
img:hover {
    cursor: pointer;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
}


button {
    background-color: #fff;
}

.color {
    color: #fff !important;
    font-size: 1.2rem;
    text-align: center;
}

.color svg {
    margin-left: 10px;
    fill: white;
}

.color:hover {
    color: #fff;
    font-weight: 500;
}

