<nav class="navbar navbar-expand-lg bg">
    <div class="container">
        <a class="navbar-brand color">
            <img src="../../../assets/Logo.png" alt="ChambeaPe Logo" (click)="home()">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" aria-label="Ve a la sección de Empleos"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link color" routerLink="" routerLinkActive="active" aria-label="Ve a la sección de Empleos">
                    Inicio
                </a>
                <a class="nav-link color" routerLink="" routerLinkActive="active" aria-label="Ve a la sección de Empleos">
                    Empleos
                </a>
                <a class="nav-link color" routerLink="" routerLinkActive="active" aria-label="Ve a la sección de Chambeadores">
                    Chambeadores
                </a>
                <a class="nav-link color" routerLink="" routerLinkActive="active" aria-label="Ve a la sección de Notificaciones">
                    Notificaciones
                </a>
                <a class="nav-link color" routerLink="" routerLinkActive="active" aria-label="Ve a la sección de Perfil">
                    Perfil
                </a>
            </div>
        </div>
    </div>
</nav>