
<div class="container-settings">
    <h1 class="title">Configuración</h1>

    <div class="box ">
        <mat-label for="edit-email" aria-label="Título">Modificar Email y Contraseña</mat-label>
        <a id="edit-email">Editar</a>
    </div>
    <div class="box">
        <mat-label for="title" aria-label="Título">Destacar Perfil</mat-label>
        <mat-slide-toggle color="#f1a636"></mat-slide-toggle>
    </div>
    <div class="box">
        <mat-label for="title" aria-label="Título">Perfil Visible</mat-label>
        <mat-slide-toggle color="#f1a636"></mat-slide-toggle>
    </div>
    <div class="box">
        <mat-label for="title" aria-label="Título">Notificaciones</mat-label>
        <mat-slide-toggle color="#f1a636"></mat-slide-toggle>
    </div>
    <div class="box ">
        <mat-label for="edit-interface" aria-label="Título">Apariencia</mat-label>
        <a id="edit-interface" routerLink="/settings/appearance">Editar</a>
    </div>
    <div class="box payment-methods ">
        <mat-label for="edit-interface" aria-label="Título">Métodos de Pago</mat-label>
        <a id="edit-interface">Ver</a>
    </div>

    <div class="delete-account">
        <a aria-label="Título">Eliminar Cuenta</a>
    </div>
</div>