<div class="area-container">
    <div class="home-container">
        <div class="search-container">
            <form class="profile-form">
                <mat-form-field appearance="outline" class="profile-full-width">
                    <input   type="tel" matInput placeholder="Search" name="search" [(ngModel)]="search">
                    <button  matSuffix mat-button aria-label="Ingresa tu búsqueda"><mat-icon>search</mat-icon></button>
                </mat-form-field>
            </form>

            <div class="searches-container">
                <h3 aria-label="Últimas Búsquedas">Últimas Búsquedas</h3>
                <a (click)="home()">Editar</a>
            </div>
        </div>

        <div class="chambeador-profile">
            <mat-card class="profile-card">
                <mat-card-header class="card-header">
                    <mat-card-title class="card-state">{{ workers[workerSelect].isActive ? 'Disponible' : 'No disponible' }}</mat-card-title>
                    <mat-icon>radio_button_checked</mat-icon>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <div class="user-img">
                        <img [src]=workers[workerSelect].profilePic alt="">
                    </div>

                    <div class="user-description">
                        <div class="user-information">
                            <span>{{workers[workerSelect].firstName}} {{workers[workerSelect].lastName}}</span>
                            <p>{{workers[workerSelect].description}}</p>
                        </div>

                        <div class="container-buttons">
                            <button (click)="viewProfile(workers[workerSelect].id)" aria-label="Entra al perfil de chambeador"> Ver Perfil</button>
                            <button aria-label="Chambea con el chambeador" > Chatear </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>        
    
        <div class="line-spacer">
            <div class="line"></div>
        </div>

        <div class="top-empleadores-container" [ngClass]="marginBottomClassEmployer">
            <div class="title-container">
                <h1 aria-label="Top Empleadores" >Top Empleadores</h1>
            </div>
            
            <div class="empleadores-cards">
                <mat-grid-list [cols]="cols" rowHeight="400px" gutterSize="0px">
                    <mat-grid-tile *ngFor="let employer of employers">
                        <img [src]="employer.profilePic" alt="" class="employer-image">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>             
        </div>
    
        <div class="top-chambeadores-container">
            <div class="title-container">
                <h1 aria-label="Top Chambeadores">Top Chambeadores</h1>
            </div>

            <div class="chambeadores-cards" [ngClass]="marginBottomClassWorker">
                <mat-grid-list [cols]="cols" rowHeight="400px" gutterSize="0px">
                    <mat-grid-tile *ngFor="let worker of workers">
                        <img [src]="worker.profilePic" alt="Worker Image" class="worker-image">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

    </div>
</div>
