<div class="login-container">
    <div class="wrapper">
        <h1>Log in</h1>
        <div class="email-container">
            <mat-form-field class="email-field">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    
        <div class="password-container">
            <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Log in</button>
        <div>
            <div id="googleLoginButton" class="googleButton"></div>
        </div>
        
    </div>
</div>




