/*Forgot-Password*/
.forgotP-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fp {
    width: 45%;

    margin-top: 3rem;

    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #999;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.25rem;

    @media (max-width: 1054px) {
        width: 90%;
    }
}

.titles {
    width: 100%;
    margin: 50px 0px 15px 0px;

}

.titles h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px;
}

.titles p {
    font-size: 1.4375rem;
    margin: 30px 0px 0px 15px;
}

.email-phone-form {
    height: 100%;
}

.em-ph-full-width {
    margin-top: 15px;
    width: 100%;
    height: 80%;
}

.email-phone-form input {
    margin-top: 2px;
    font-size: 20px;
}

.input-fp {
    margin: 30px 0px 10px 0px;
    padding: 10px 5px;
    width: 90%;
    height: 20%;
}

.container-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
}

.container-buttons button {
    margin: 10px 0px;
    padding: 10px;
    width: 75%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    height: 35%;
}

.container-buttons :nth-child(1) {
    background-color: #f1a636;
    color: white;
}

.container-buttons :nth-child(2) {
    box-shadow: 0px 0px 10px #999;
    background-color: #ffffff;
    color: #f1a636;
    border: 1px solid #f1a636;
}

.container-buttons button:hover {
    cursor: pointer;
    background-color: rgb(59, 59, 59);
    transition: 0.3s ease;
}

/*Verification-Code*/
.link-button {
    background: none;
    border: none;
    padding: 0px;
    margin-left: 10px;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(143, 143, 187);
}

.link-button:focus {
    outline: none;
}

.link-button:hover {
    color: blue;
}

.vCode-section2 {

    margin-top: 6rem;


    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vCode-container2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;

    padding: 1rem;


    @media (max-width: 1054px) {
        width: 90%;
    }

    .title-container2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        h1 {
            font-size: 2.5rem;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                font-size: 1.3rem;

                a {
                    font-size: 1.3rem;
                    color: #f1a636;
                }
            }
        }
    }

    .code-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .code-box2 mat-form-field {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: .8rem;
            margin-bottom: 1rem;
            mat-error {
                font-size: .7rem;
            }
        }

        .code-box2 input {
            font-size: 1.25rem;
        }
    }

    .container-buttons2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-buttons2 button {
        margin: 10px 0px;
        padding: 10px;
        width: 50%;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        height: 60%;
        background-color: #f1a636;
    }

    .container-buttons2 button:hover {
        cursor: pointer;
        background-color: rgb(43, 46, 34);
        transition: 0.3s ease;
    }
}



/*Change-Password*/

.vCode-section3 {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .vCode-container3 {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #999;

        @media (max-width: 1328px) {
            width: 60%;

        }

        @media (max-width: 1024px) {
            width: 90%;
        }



        .title-container3 {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            height: 25%;
            padding: 2rem 1rem;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.3rem;
            }

            a {
                font-size: 1.3rem;
                color: #f1a636;
            }
        }
    }

    @media (max-width: 720px) {
        margin-top: 3rem;
    }

    .password-container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;

        mat-form-field {
            width: 100%;
            height: 100%;
            padding: 10px;
            font-size: 1.2rem;
        }

        input {
            font-size: 20px;
        }

        button {
            margin-top: 5px;
            margin-right: 8px;
            width: 50px;
        }

        .first-password-container3,
        .second-password-container3 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 55%;
        }

        mat-error {
            font-size: .7rem;
        }

    }

    .check-container3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding: 0 1rem;
        gap: 1.5rem;

        .custom-checkbox3 {
            width: 10px;
            height: auto;
        }

        p {
            font-size: 1rem;
            margin: 0;
        }
    }

    .container-buttons3 {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 14%;
    }

    .container-buttons3 button {
        margin: 10px 0px;
        padding: 10px;
        width: 50%;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-size: 1rem;
        color: #fff;
        height: 80%;
        background-color: #f1a636;

        @media (max-width: 1054px) {
            width: 90%;
        }
    }

    .container-buttons3 button:hover {
        cursor: pointer;
        background-color: rgb(56, 58, 50);
        transition: 0.3s ease;
    }
}

/*Password-Changed*/

.vCode-section4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;

    margin-top: 15px;

    .vCode-container4 {
        width: 50%;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

        @media (max-width: 1054px) {
            width: 90%;
        }

        .title-container4 {
            width: 100%;
            margin-top: 40px;

            h1 {
                font-size: 2.5rem;
            }
        }

        .imagen-container4 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 35%;
                height: auto;
            }
        }

        .container-buttons4 {
            margin-bottom: 15px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                padding: 10px;
                width: 60%;
                border-radius: 5px;
                border: none;
                font-weight: 700;
                font-size: 1rem;
                color: #ffffff;
                height: 80%;
                background-color: #f1a636;

                &:hover {
                    cursor: pointer;
                    background-color: #2e2e2d;
                    transition: 0.3s ease;
                }
            }
        }

        .lastInfo-container4 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .last-box4 {
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: left;
                flex-direction: column;
                background-color: #f9f2dd;
                border-radius: 5px;
                padding: .625rem;

                gap: 1rem;

                margin: 1rem 0;

                font-size: 1rem;
                font-weight: 700;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: row wrap;
                    p {
                        width: 13.75rem;
                        margin: 0;
                    }
                }

                .text-des4 {
                    font-size: 1rem;
                    line-height: 1.8;
                }

            }
        }
    }
}