<div class="container-post">
    <h2 class="title" aria-label="Post de Trabajo"> Post de Trabajo </h2>
    <mat-card class="post-card">
        <div class="row" *ngIf="!editMode; else editForm">
            <mat-card-title class="title">{{post.title}}</mat-card-title>
            <mat-card-subtitle >{{post.subtitle}}</mat-card-subtitle>
            <p style="margin: 0;">{{post.description}}</p>
        </div>
        <ng-template #editForm>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label aria-label="Título">Título</mat-label>
                    <input matInput [(ngModel)]="post.title">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label aria-label="Subtítulo">Subtítulo</mat-label>
                    <input matInput [(ngModel)]="post.subtitle">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label aria-label="Descripción">Descripción</mat-label>
                    <textarea matInput [(ngModel)]="post.description"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label aria-label="URL de la imagen">URL de la imagen</mat-label>
                    <input matInput [(ngModel)]="post.imgUrl">
                </mat-form-field>
            </div>
        </ng-template>
        <img [src]=post.imgUrl alt="{{post.title}}">
        <div class="button" *ngIf="!editMode; else editButtons">
            <a color="primary" mat-raised-button (click)="toggleEditMode()" aria-label="Editar">Editar</a>
            <a  mat-raised-button (click)="deletePost()" aria-label="Eliminar Post de trabajo">Eliminar</a>
        </div>
        <ng-template #editButtons>
            <div class="button">
                <a color="primary" mat-raised-button (click)="editPost(); toggleEditMode()" aria-label="Guardar Post de trabajo">Guardar</a>
                <a mat-raised-button (click)="toggleEditMode()" aria-label="Cancelar">Cancelar</a>
            </div>
        </ng-template>
    </mat-card>
</div>

<h1 class="title" aria-label="Chambeadores">Chambeadores</h1>

<div class="workers-container">
    <div class="container-jobs" *ngFor="let postulation of postulations">
        <mat-card class="jobs-card">
                <mat-card-title style="font-size: 1.2rem;">{{postulation.worker.firstName}} {{postulation.worker.lastName}}</mat-card-title>
                <!--
                <mat-card-subtitle>{{postulation.worker.isActive}}</mat-card-subtitle>-->
            <img mat-card-image [src]=postulation.worker.profilePic alt="Worker Image">
                <p style="margin: 0;">
                    {{postulation.worker.description}}
                </p>
            <mat-card-actions>
                <button mat-raised-button (click)="viewProfile(postulation.worker.id)" color="primary" style="color: #fff;">Ver Perfil</button>
                <button mat-raised-button aria-label="Empieza a Chatear con el Empleador">Chatear</button>
                <button (click)="deleteWorker(postulation.worker.id)" mat-raised-button aria-label="Elimina un post">Eliminar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>