<div class="container-post">
    <h2 class="title"> Post de Trabajo </h2>
    <mat-card class="post-card">
        <div class="row">
            <mat-card-title class="title">{{post.postTitle}}</mat-card-title>
            <mat-card-subtitle>{{post.postSubtitle}}</mat-card-subtitle>
            <p style="margin: 0;">{{post.postDescription}}</p>
        </div>
        <img [src]=post.postImgUrl alt="{{post.postTitle}}">
        <div class="button">
            <a routerLink="" color="primary" mat-raised-button>Editar</a>
            <a routerLink="" mat-raised-button>Eliminar</a>
        </div>
    </mat-card>
</div>

<h1 class="title">Chambeadores</h1>

<div class="workers-container">
    <div class="container-jobs" *ngFor="let worker of post.workers">
        <mat-card class="jobs-card">
                <mat-card-title style="font-size: 1.2rem;">{{worker.name}}</mat-card-title>
                <mat-card-subtitle>{{worker.status}}</mat-card-subtitle>
            <img mat-card-image [src]=worker.image alt="Worker Image">
                <p style="margin: 0;">
                    {{worker.description}}
                </p>
            <mat-card-actions>
                <button mat-raised-button (click)="viewProfile(worker.id)" color="primary" style="color: #fff;">Ver Perfil</button>
                <button mat-raised-button >Chatear</button>
                <button (click)="deleteWorker(worker.id)" mat-raised-button >Eliminar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>