.profile-container{
    text-align: center;
}

.circular-image {
    border-radius: 50%;
}

.button {
    width: 15.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}