<div class="profile-container">
    <img class="circular-image" [src]="worker.image" />
    <div *ngIf="isWorker" class="settings-icon">
      <i class="bi bi-gear gear-icon"></i>
    </div>
    
    <h1  aria-label="Nombre del trabajador">{{worker.name}}</h1>

    <div>
        <h6 *ngIf="worker.status">Disponible <mat-icon fontIcon="check_circle" style="font-size: 20px;"></mat-icon></h6>
        <h6 *ngIf="!worker.status">No Disponible <mat-icon fontIcon="cancel" style="font-size: 20px;" color="warn"></mat-icon></h6>
        
    </div>
    

    <button mat-raised-button color="primary" class="connect-button" style="color: #fff;" aria-label="Conecta y chatea con el trabajador">Conectar</button>

    <h6 style="font-weight: bold;" aria-label="Descripción">Descripción</h6>
    <div class="description-container">
        
        <p class="worker-description" aria-label="Descripción del chambeador">
            {{worker.description}}
        </p>
    </div>
   
    <div class="worker-skills">
        <h6 style="font-weight: bold;" aria-label="Habilidades">Habilidades</h6>
        <button class="skill-button" color="primary" mat-button *ngFor="let skill of worker.skills">
            {{ skill | titlecase }}
        </button>
    </div>

    <div class="portfolio">
        <h6 style="font-weight: bold;" aria-label="Portafolio">Mis trabajos</h6>
        <div class="carousel-container">
            <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" class="carousel">
                <ng-template ngbSlide ngbSlide *ngFor="let image of worker.portfolio">
                  <img [src]="image" alt="Portfolio Image" class="carousel-image">
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    
    <div class="certificates">
      <h6 style="font-weight: bold;" aria-label="Certificados">Certificados</h6>
      <i *ngIf="isWorker" class="bi bi-plus-circle-fill add-icon"></i>
      <div class="certificate-card-container">
        <mat-card class="certificate-card" >
          <mat-card-content class="card-content">
            <div class="img-container">
              <img class="certificate-image" [src]="worker.certificates[0].imgUrl" alt="">
            </div>
            <div class="certificate-description">
              <p class="certificate-name">{{worker.certificates[0].certificateName}}</p>
              <p>{{worker.certificates[0].institutionName}}</p>
              <button class="certificate-button" mat-raised-button mat-button color="primary" (click)="true" aria-label="Ver certificado"> Ver Certificado</button>
            </div>
            
          </mat-card-content>
        </mat-card>
      </div>
      <button class="more-button" mat-raised-button mat-button color="primary" (click)="true" aria-label="Ver mas" (click)="certificates(worker.id)"> Ver Más</button>
    </div>
      
      <div class="reviews">
        <h6 style="font-weight: bold;" aria-label="Comentarios">Comentarios</h6>
        <div class="review-card-container">
          <mat-card class="review-card">
            <mat-card-content class="card-content">
              <div class="img-container">
                <img class="employer-image" [src]="worker.reviews[0].employerPhoto" alt="">
              </div>
              <div class="review-description">
                <p class="certificate-name">{{worker.reviews[0].employerName}}</p>
                <p>{{worker.reviews[0].description}}</p>

                <ng-template #starRating let-fill="fill">
                <i class="bi-star-fill">
                  <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
                </i>
                </ng-template>

                <ngb-rating 
                [readonly]="true"
                [max]="5"
                [rate]="ratingToInt(worker.reviews[0].rating)"
                [starTemplate]="starRating"
                ></ngb-rating>
                
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <button class="more-button" mat-raised-button mat-button color="primary" (click)="true" aria-label="Ver mas" (click)="reviews(worker.id)"> Ver Más</button>
      </div>
</div>


